main .contact_section{
    margin-left:20%;
    margin-top:100px;
    width:500px;
}

main .contact_section h1{
    margin-bottom:30px;
    margin-left:30%;
}

main label{
    display:block;
    margin-top:10px;
    margin-bottom:5px;
}

main input, main textarea{
    width:100%;
    padding: 11px 20px;
    margin: 7px 0;
    border: 2px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;  
}

main input:hover, main textarea:hover{
    border-radius:5px;
    border-color:gray;
}