body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "aside"
        "main"
        "footer"
    ;
}

.showNav {
    height: 1.5em;
    width: 3em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
    transition: transform 1.5 ease-in;
}

.showNav::before {
    content: '';
    position: absolute;
    width: 3em;
    margin-top: 0.6em;
    border-top: 0.2em solid white;
}

nav {
    text-align: left;
    display: block;
    background-color: black;
    color:white;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
    transition: transform 0.5s ease-in;
    padding:0;
}

nav ul a {
    text-decoration: none;
    color: rgba(136, 146, 176, 1);
    margin:0;
    padding:0;
}

nav ul li{
    display:block;
    margin:0;
    padding:0;
}

#clicked .on {
    display: block;
}


#clicked .off {
    display: none;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked:target nav {
    display: block;
    transform: translate(100%, 0);
}
