body {
    font-family: Arial;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "nav"
      "main"
      "footer";
    padding: 0;
    margin:0;
    background-color:gray;
  }
  
  nav {
    grid-area:nav;
    background-color: black;
    height: 50px;
    width: 100%;
    padding: 10px;
    padding-top: 20px;
  }
  
  main{
    grid-area:main;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul:first-child {
    margin-left: 30%;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 30px;
  }
  
  nav ul li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
  }
  
  nav ul li:hover {
    background-color: green;
  }
  
  nav ul li.active {
    background-color: gray;
  }
  
  

  footer{
    width:100%;
    grid-area:footer;
    background-color: black;
    margin-bottom:0;
    color:white;
    position:fixed;
    bottom:0px;
  }

  footer a:first-child{
    margin-left:200px;
  }
  footer a{
    display:inline-block;
    margin-left:30px;
    margin-top:15px;
  }
  footer p{
    display:inline-block;
    float:right;
    margin-right:10px;
  }
  